<title>TinyApp</title>
<style>
  #main {
      padding:10px;
      border-radius: 10px;
      background: lavender;
      max-width: 1000px;
      }
  #header {
      padding:10px;
      background: mintcream;
      height: 120px;
      max-width: 1000px;
      }
  a {
    text-decoration: none;
    }
  table {
    text-align: left;
    width: 100%,
  }
  td, th {
    padding: 10px;
  }
</style>