<div id='header'>
  <h2>TinyAPP</h2>
  <% if (user){ %>
    <form method='POST' action='/logout'>
       <label><%= user.username %></label> <input type='submit' value='Logout'>
    </form>
  <% } %>
</div>