<div id='header'>
  <h2>TinyAPP</h2>
  <% if (user){ %>
    <form method='POST' action='/logout'>
       <label><%= user.email %></label> | <a href='/urls'>My Links</a> | <input type='submit' value='Logout'>
    </form>
  <% } else { %>
    <a href='/register'>Register</a> | <a href='/login'>Login</a>
  <% } %>
</div>