<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <% for(var url in urls ) { %>
      <li><%= urls[url]%> :  <a href='<%= urls[url] %>' ><%= url %></a> </li>
    <% } %>
  </ul>
  <a href=''>Shorten a new URL</a>
</body>
</html>